.daily-question {
    display: block;
    white-space: pre-line;
    
}

.daily-quill {
    min-height: 40vh;
    min-width: 50%;
    
}

.daily-code-quill {
    padding: 1vw;
}

.ql-editor {
    font-size:1.4em;
}
.codele-container {
    display: flex;
}

.code-container {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    min-width: 50%;
}

#change-button {
    margin: 1vw;
}

h3 {
    text-decoration: underline;
}